
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 3em;
  margin: 0 auto;
  resize: false;
}

td,th {
  border: 1px dashed #aaa;
  text-align: center;
  padding: 5px;
  overflow: auto;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.box{
	width:10px;
	height:10px;
}

.red{
	background:#f00;
}
.green{
	background:#0f0;
}
.blue{
	background:#00f;
}
